
/* Estilos del modal */
.modalVariosClientes {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center; /* Centrar verticalmente */
  }
  
  /* Animación para el modal */
  @keyframes fade-in {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  
  .modal-contentVariosClientes {
    background-color: white;
    width: 400px;
    height: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fade-in 0.3s ease-out; /* Agregada animación */
    border: 3px solid #9b0505;
  }
  
  /* Estilos de los botones */
  
  .modalVariosClientes button {
    position: relative;
    top: -15px;
    padding: 8px 16px;
    margin: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    background-color: #337ab7;
    color: white;
  }
  
  .modalVariosClientes p{
    position: relative;
    top: -15px;
  }
  
  .modal-contentVariosClientes h2 {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    top: -20px;
  }