<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club Galo</title>
  <link rel="stylesheet" href="estilosBolsas.css" />
  <link rel="stylesheet" href="../../modals/borrarBolsaModal/borrarBolsaModal.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shantell Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

</head>

<body>

  <div id="container-modal"></div>

  <header>
    <div class="logo slide">
      <img src="../../imagenes/logo-galo.png" width="150" class="img-logo">
    </div>
    <nav>
      <form class="busqueda" id="busqueda">
        <input placeholder="Marca, calidad o tamaño" id="barra-busqueda" onkeypress="reemplazarComa(event)">
        <button type="submit" id="boton-lupa"><img src="../../imagenes/lupa.png" width="20px"></button>
      </form>
      <a href="../Seguimiento/seguimiento.html" class="nav-link1">Seguimiento</a>
      <a href="../Venta/venta.html" class="nav-link2">Venta</a>
      <a href="../Historial/historial.html" class="nav-link3">Historial</a>
      <a href="../Clientes/clientes.html" class="nav-link4">Clientes</a>
      <a href="../Bolsas/bolsas.html" class="nav-link5">Bolsas</a>
      <a href="../Estadisticas/estadisticas.html" class="nav-link6">Estadisticas</a>
    </nav>
    <button id="agregarBolsa" onclick="botonAgregarBolsa()"><span class="spanBlanco">Agregar Bolsa+</span></button>
  </header>


  <div id="bolsas">

  </div>


  <div class="container-paginado" id="container-paginado">
    <button id="btnAnterior" onclick="document.documentElement.scrollTop = 0;"><img src="../../imagenes/pagAnteriorIMG.png" width="30px">Anterior</button>
    <div class="container-h5Pagina"><h5 id="h5Pagina">1</h5></div>
    <button id="btnSiguiente" onclick="document.documentElement.scrollTop = 0;">Siguiente<img src="../../imagenes/pagSiguienteIMG.png" width="30px"></button>
  </div> 

  <div class="divFlechaArriba">
    <button id="flechaArriba" onclick="document.documentElement.scrollTop = 0;"><img src="../../imagenes/flechaArriba.png"
        id="imgFlechaArriba"></button>
  </div>





  <script src="./appBolsas.js"></script>
  <script src="../../modals/borrarBolsaModal/borrarBolsaModal.js"></script>
  <script src="../../utils/palabras.js"></script>
</body>

</html>