<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edicion de Cliente</title>
        <link rel="stylesheet" href="editarCliente.css" />
        <link rel="stylesheet" href="../../modals/completarCamposModal/completarCamposModal.css" />
        <link rel="stylesheet" href="../../modals/sinMascotasModal/sinMascotasModal.css" />
        <link rel="stylesheet" href="../../modals/borrarMascotaModal/borrarMascotaModal.css" />
        <link rel="stylesheet" href="../../modals/formatoNumericoModal/formatoNumericoModal.css" />
        <link rel="stylesheet" href="../../modals/nombreMascotaRepetido/nombreMascotaRepetido.css" />
</head>

<body>

        <div id="container-modal"></div>


        <div class="container-titulo">
                <button id="btnCruz"><img src="../../imagenes/cruz.png" class="cruz"></button>
                <h1 class="tituloCentro" id="tituloCentro">Edicion de Cliente</h1>
        </div>
        <form id="formGrande">
                <div class="datos-cliente">
                        <h1>Datos del Cliente</h1>
                        <p><span style="font-weight: 800;">Primer Nombre:</span> <input required type="text"
                                        class="input-primernombre inputPersona" id="input-primernombre"></p>
                        <p><span style="font-weight: 800;">Nombre de pila:<span style="font-weight: 800;"></span> <input
                                                required type="text" class="input-nombrepila inputPersona"
                                                id="input-nombrepila"></p>
                        <p><span style="font-weight: 800;">Apellido:</span> <input required type="text"
                                        class="input-apellido inputPersona" id="input-apellido"></p>
                        <p><span style="font-weight: 800;">Direccion(Calle):</span> <input required type="text"
                                        class="input-calle inputPersona" id="input-calle"> <span
                                        style="font-weight: 800;">Nro:</span> <input required type="text"
                                        class="input-numero inputPersona" id="input-numero"></p>
                        <p><span style="font-weight: 800;">Dpto(Opcional):</span> <input type="text" class="input-dpto inputPersona"
                                        id="input-dpto"></p>
                        <p><span style="font-weight: 800;">Telefono:</span> <input required type="text"
                                        class="input-telefono inputPersona" id="input-telefono"></p>
                        <p><span style="font-weight: 800;">Puntos:</span> <input required type="text"
                                        class="input-telefono inputPersona" id="input-puntos" value="0"></p>
                </div>

                <div class="datos-mascota">
                        <h2>Datos de Mascotas</h2>
                        <div class="seleccion-mascota" id="seleccion-mascota">
                        </div>
                        <div class="mostrar-datos">
                                <form>
                                        <label for="selectmascota"><span style="font-weight: 800;">Mostrando datos
                                                        de:</span></label>
                                        <select name="selectmascota" class="select-mascota" id="select-mascota">
                                        </select>
                                </form>
                        </div>
                        <div class="mostrando-datos" id="mostrando-datos">
                                <p><span style="font-weight: 800;">Nombre:</span> <input required type="text"
                                                class="input-nombremascota inputMascota" id="input-nombremascota"></p>
                                <p><span style="font-weight: 800;">Animal:</span> <select id="selectAnimal"
                                                class="inputMascota">
                                                <option value="Perro">Perro</option>
                                                <option value="Gato">Gato</option>
                                        </select>
                                        <span style="font-weight: 800;">Raza:</span> <input required type="text"
                                                class="input-raza inputMascota" id="input-raza">
                                </p>
                                <p><span style="font-weight: 800;">Peso:</span> <input required type="text"
                                                class="input-peso inputMascota" id="input-peso"
                                                onkeypress="reemplazarComa(event)"><span
                                                style="margin-right: 30px; font-weight: 800; ">Kg</span><span
                                                style="font-weight: 800;">Edad:<span id="spanEdad"></span></span></p>
                                <p><span style="font-weight: 800;">Actividad:</span> <input required type="text"
                                                class="input-actividad inputMascota" id="input-actividad"></p>
                                <p><span style="font-weight: 800;">Afecciones:</span> <input required type="text"
                                                class="input-afecciones inputMascota" id="input-afecciones"></p>
                                <p><span style="font-weight: 800;">Nacimiento: <input required type="text"
                                                        class="input-diacumple inputMascota" id="input-diacumple"
                                                        onkeypress="reemplazarComa(event)">/<input required type="text"
                                                        class="input-mescumple inputMascota" id="input-mescumple"
                                                        onkeypress="reemplazarComa(event)">/<input required type="text"
                                                        class="input-aniocumple inputMascota" id="input-aniocumple"
                                                        onkeypress="reemplazarComa(event)"></span></p>
                                <div id="boton-guardarmascota"></div>
                                <div id="boton-eliminar"></div>
                        </div>
                </div>
                <button class="btn-editar" type="submit" id="btnGuardar">Guardar</button>
        </form>
        <div class="borde">
        </div>
        <script src="./editarCliente.js"></script>
        <script src="../../modals/completarCamposModal/completarCamposModal.js"></script>
        <script src="../../modals/sinMascotasModal/sinMascotasModal.js"></script>
        <script src="../../modals/borrarMascotaModal/borrarMascotaModal.js"></script>
        <script src="../../modals/formatoNumericoModal/formatoNumericoModal.js"></script>
        <script src="../../modals/nombreMascotaRepetido/nombreMascotaRepetido.js"></script>
</body>

</html>