<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Estilosventa.css" />
    <title>Venta</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../../imagenes/logo-galo.png" width="150" class="img-logo">
        </div>
        <nav>
            <a href="../Seguimiento/seguimiento.html" class="nav-link1">Seguimiento</a>
            <a href="../Venta/venta.html" class="nav-link2">Venta</a>
            <a href="../Historial/historial.html" class="nav-link3">Historial</a>
            <a href="../Clientes/clientes.html" class="nav-link4">Clientes</a>
            <a href="../Bolsas/bolsas.html" class="nav-link5">Bolsas</a>
            <a href="../Datos/datos.html" class="nav-link6">Datos</a>
        </nav>
    </header>

    <div class="ingreso" id="ingreso">



        <div class="ingreso-persona">
            <div class="imagen-persona">
                <img src="../../imagenes/persona.png" width="90">
            </div>
            <form class="form-ingreso" id="form-ingreso">
                <p>Cliente: <input class="inputCliente" required id="inputCliente"></p>
                <button type="submit" id="verificar" class="css-button-shadow-border-sliding--green">Verificar</button>
                <button type="reset" id="borrar">Borrar</button>
            </form>
        </div>

        <div id="mascota">

        </div>





    </div>

    <div id="agregado">

    </div>

    </div>

    <div id="ventasActivas">
       
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./appVenta.js"></script>
</body>

</html>